#play {
    width: 500px;
    float: right;
    margin-right: 33%;
}

audio {
    display: block;
    margin: auto;
    width: 450px;
    height: 20px;
}

#compositor {
    height: 170px;
    background-color: rgba(255, 255, 255, 0.41);
}

#compositor .imagem {
    /*background-color: aqua;*/
    /*background-image: url("../data/outros/dark funeral logo.jpg");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*height: 130px;*/
    /*width: 130px;*/
    /*position: absolute;*/
    /*z-index: 2;*/
    /*margin-top: 22px;*/
    /*margin-left: 50px;*/
    /*border-radius: 100px;*/
}
#compositor .imagem img {
    width: 125px;
    position: absolute;
    border-radius: 300px;
    margin-top: 18px;
    margin-left: 10px;
    box-shadow: 0px 0px 10px 1px #6f00ff;
}

#compositor span {
    display: block;
    margin-left: 200px;
    margin-top: 10px;
}

#compositor .nomeComp {
    padding-top: 50px;
    font-weight: 900;
}

#musicas #titulos {
    margin-left: 60px;
    margin-bottom: 6px;
    margin-top: 10px;
}

#musicas {
    margin-bottom: 10px;
    border: 1px solid #7d2ae8;
    border-radius: 10px;
}

.song_side>#play {
    display: block;
    color: #7d2ae8;
    align-items: center;
  
    padding: 20px;
    background-color: #ffffff;
    border: #7d2ae8 2px solid;
    border-radius: 10px;
    margin-left: 350px;

}